.App {
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 90vh; */
  flex-direction: column;
}

.inputDiv {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.rates {
  text-align: start;
}

.rateHolder {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
